<!DOCTYPE html>
<html>
<head>
    <title>ASPR – {% block title %}{% endblock %}</title>

    <meta name="author" content="ASPR. Asociación Salvadoreña de Protección Radiológica.">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <meta name="description" content="La ASPR es una organización dedicada a promover las buenas prácticas en radioprotección, radiodiagnóstico y radioterapia, respaldando el uso pacífico de las radiaciones ionizantes en toda Hispanoamérica.">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="png/ico" href="{{ url_for('static', filename='logo.png') }}">

    <script src="{{ url_for('static', filename='all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body style="{% block body_style %}{% endblock %}">
{% block content %}{% endblock %}
</body>
</html>