<option value="">País</option>
<option value="AR">🇦🇷 Argentina (+54)</option>
<option value="BO">🇧🇴 Bolivia (+591)</option>
<option value="CL">🇨🇱 Chile (+56)</option>
<option value="CO">🇨🇴 Colombia (+57)</option>
<option value="CR">🇨🇷 Costa Rica (+506)</option>
<option value="CU">🇨🇺 Cuba (+53)</option>
<option value="EC">🇪🇨 Ecuador (+593)</option>
<option value="SV">🇸🇻 El Salvador (+503)</option>
<option value="GT">🇬🇹 Guatemala (+502)</option>
<option value="HN">🇭🇳 Honduras (+504)</option>
<option value="MX">🇲🇽 México (+52)</option>
<option value="NI">🇳🇮 Nicaragua (+505)</option>
<option value="PA">🇵🇦 Panamá (+507)</option>
<option value="PY">🇵🇾 Paraguay (+595)</option>
<option value="PE">🇵🇪 Perú (+51)</option>
<option value="PR">🇵🇷 Puerto Rico (+1)</option>
<option value="DO">🇩🇴 República Dominicana (+1)</option>
<option value="UY">🇺🇾 Uruguay (+598)</option>
<option value="VE">🇻🇪 Venezuela (+58)</option>
<option value="otro">Otro</option>