<option value="AR">🇦🇷 Argentina</option>
<option value="BO">🇧🇴 Bolivia</option>
<option value="CL">🇨🇱 Chile</option>
<option value="CO">🇨🇴 Colombia</option>
<option value="CR">🇨🇷 Costa Rica</option>
<option value="CU">🇨🇺 Cuba</option>
<option value="EC">🇪🇨 Ecuador</option>
<option value="SV">🇸🇻 El Salvador</option>
<option value="GT">🇬🇹 Guatemala</option>
<option value="HN">🇭🇳 Honduras</option>
<option value="MX">🇲🇽 México</option>
<option value="NI">🇳🇮 Nicaragua</option>
<option value="PA">🇵🇦 Panamá</option>
<option value="PY">🇵🇾 Paraguay</option>
<option value="PE">🇵🇪 Perú</option>
<option value="PR">🇵🇷 Puerto Rico</option>
<option value="DO">🇩🇴 República Dominicana</option>
<option value="UY">🇺🇾 Uruguay</option>
<option value="VE">🇻🇪 Venezuela</option>
<option value="otro">Otro</option>