{% extends 'base.html' %}
{% block title %}Lista de Eventos{% endblock %}

{% block content %}

{% include 'navbar1.html' %}
<div style="background: linear-gradient(to right, #1c4ca0, #48bced);min-height: 60vh;position: relative;">
    <div class="container">
        <br><br><br>
        <h1 class="text-300" style="color: white;">
            LISTA DE EVENTOS.
        </h1>
        <br>
        <div class="panel" style="padding: 50px;"><br>
        <div class="row">
            {% for event in listEvents %}
                <div class="col-sm-12 col-md-4">
                    <center>
                        <div class="eventListItem">
                            <a href="{{ url_for('eventForm', eventTag=event['event_id']) }}" style="text-decoration: none;display: inline-block;">
                                <img src="{{ url_for('static', filename='events/'+event["event_id"].lower()+'.jpg') }}" class="eventListItemImg">
                                <div class="text-150 eventListItemText">{{ event["title"] }}</div>
                            </a>
                        </div>
                    </center>
                    <br><br><br>
                </div>
                <br><br>
            {% endfor %}
        </div>
    </div><br><br>
</div>

{% endblock %}