@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


* {
	font-family: 'Gabarito', sans-serif;
	font-weight: lighter;
}

.borderless {
    border: none;
}

.main-navbar {
    min-height: 75px;
}

.main-navbar-item {
    color: gray;
    padding-left: 50px !important;
    transition: 0.25s;
}

.main-navbar-item:hover {
    color: #00b1ff !important;
}

.main-navbar-logo {
    color: black;
    margin-right: 30%;
    transition: 0.025s;
}

.main-navbar-logo:hover {
    transform: scale(1.05, 1.05);
}


.index-main-image {
    position: relative;
    background-image: url("image1.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
}

.index-main-image-effect {
    min-height: 600px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), rgba(0,0,0,0.25));
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}

.svg-transition {
    width: 100%;
    height: 7vw;
    position: absolute;
    bottom: -1px !important;
}
.button {
    height: 45px;
    border-radius: 100px;
    transition: 0.25s;
}

.button:hover {
    transform: scale(1.05,1.05);
}

.button-disabled:hover {
    transform: scale(1,1);
}


.index-subzone-alert {
    background: #1c4ca0;
    background-image: url("image4.jpg");
    background-size: cover;
    background-position: center top;
    color: white;
    position: relative;
}

.position-relative {
    position: relative;
}

.text-500 {
    font-size: 400%;
}

.text-400 {
    font-size: 400%;
}

.text-300 {
    font-size: 300%;
}

.text-200 {
    font-size: 200%;
}

.text-150 {
    font-size: 150%;
}

.index-subzone1 {
    background-image: url("bg1.png");
    position: relative;
}

.index-subzone2 {
    background: #91fff0;
    position: relative;
}
.index-subzone2-gradient {
    background: linear-gradient(#91fff0, #91e6ff);
    position: absolute;
    width: 100%;
    height: 100%;
    animation: subzone2Animation 10s infinite;
}

@keyframes subzone2Animation{
    0%   { opacity: 100%; background: linear-gradient(#91fff0, #91e6ff);}
    25%  { opacity: 0%; }
    50%  { opacity: 50%; background: linear-gradient(#91fff0, #91ff9d);}
    75%  { opacity: 0%; }
    100% { opacity: 100%; }
}

.index-subzone3 {
    background: linear-gradient(to bottom, #343a40, #314152);
    color: white;
    position: relative;
}

.panel {
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.input {
    height: 45px;
    border-radius: 25px;
    padding: 20px;
    background: #ededed;
    border: none;
}

.custom-carousel {
    transition: transform 2s ease, opacity .5s ease-out;
}

.carousel-button {
    border-radius: 100%;
    width: 10px !important;
    height: 10px !important;
}

.embededVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url("loading.png");
    background-size: cover;
}

.embededContainer {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}



.eventListItem {
    position: relative;
    width: 90%;
    background: #1c4ca0;
    background: url("eventListBg.png");
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
}

.eventListItemText {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

.eventListItemImg {
    width: 100%;
    border-radius: 10px;
    display: block;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.eventListItem:hover {
    transform: scale(1.05);
}

.eventListItem:hover .eventListItemText {
    opacity: 1;
}

.eventListItem:hover .eventListItemImg {
    opacity: 0;
}