{% extends 'base.html' %}
{% block title %}Seminario Internacional sobre "Control de Calidad en Resonancia Magnética"{% endblock %}
{% block body_style %}background: linear-gradient(to right, #1c4ca0, #48bced);{% endblock %}

{% block content %}

{% include 'navbar1.html' %}

<div class="container">
    <br><br><br>
    <h1 class="text-300" style="color: white;">
        SEMINARIO INTERNACIONAL SOBRE "NIVELES DE REFERENCIA EN RADIODIAGNÓSTICO"
    </h1>
    <br><br>
    <div class="panel" style="padding: 50px;">
        <span class="text-150">El seminario se llevó a cabo el 5 de julio de 2025, bajo la dirección del Ing. Físico Fernando Herreman. Este evento fue completamente en línea y ofrecido de manera gratuita. Para participar y recibir notificaciones sobre futuros eventos, lo invitamos a <a href="/boletin/">suscribirse a nuestro boletín informativo</a>, donde recibirá actualizaciones sobre los próximos seminarios que organizaremos.</span>
        <br><br><br>
        <div class="embededContainer">
            <iframe src="https://www.youtube.com/embed/7CI8Uj4IjPI" class="embededVideo" frameborder="0" allowfullscreen></iframe>
        </div>
    </div><br>
</div>


{% endblock %}